Association rules are normally written like this: {Diapers} -> {Beer} which means that there is a strong relationship between customers that purchased diapers and also purchased beer in the same transaction.

In the above example, the {Diaper} is the **antecedent** and the {Beer} is the **consequent**. Both antecedents and consequents can have multiple items. In other words, {Diaper, Gum} -> {Beer, Chips} is a valid rule.

**Support** is the relative frequency that the rules show up. In many instances, you may want to look for high support in order to make sure it is a useful relationship. However, there may be instances where a low support is useful if you are trying to find “hidden” relationships.

**Confidence** is a measure of the reliability of the rule. A confidence of .5 in the above example would mean that in 50% of the cases where Diaper and Gum were purchased, the purchase also included Beer and Chips. For product recommendation, a 50% confidence may be perfectly acceptable but in a medical situation, this level may not be high enough.

**Lift** is the ratio of the observed support to that expected if the two rules were independent (see wikipedia). The basic rule of thumb is that a lift value close to 1 means the rules were completely independent. Lift values > 1 are generally more “interesting” and could be indicative of a useful rule pattern.

In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df = pd.read_csv('Transaction_SKU_Test.csv')
df.head(10)

          Name   SKU  Quantity
0        #1002  7870         1
1        #1002  9150         1
2        #1003  2010         1
3        #1004  8519         1
4  19135641007  2750         1
5  19135641008  8509         1
6  19135641009  9139         1
7  19135641010  3509         1
8  19135641011  7699         1
9  19135641012  5009         1

In [2]:
pd.pivot_table(df, index = ['SKU'], aggfunc=np.sum).head()

      Quantity
SKU
1000        32
1001        59
1009        40
1050        48
1051        68

In [3]:
df['SKU'] = df['SKU'].astype('str')

In [4]:
basket = (df.groupby(['Name', 'SKU'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Name'))

In [5]:
basket.head()

SKU,1000,1001,1009,1050,1051,1059,1100,1101,1109,1150,...,91670,9169,9170,9179,9180,9189,92063,92075,92076,9945
Name,,,,,,,,,,,,,,,,,,,,,
#1002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#1003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#1004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1.91568E+11,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1.9157E+11,1.0,3.0,2.0,1.0,5.0,0.0,8.0,10.0,0.0,6.0,...,0.0,0.0,5.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0

In [6]:
# Show a subset of columns
basket.iloc[:,[0,1,2,3,4,5,6,7]].head()

SKU          1000  1001  1009  1050  1051  1059  1100  1101
Name
#1002         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
#1003         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
#1004         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1.91568E+11   1.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0
1.9157E+11    1.0   3.0   2.0   1.0   5.0   0.0   8.0  10.0

In [7]:
# Convert the units to 1 hot encoded values
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets.head()

SKU,1000,1001,1009,1050,1051,1059,1100,1101,1109,1150,...,91670,9169,9170,9179,9180,9189,92063,92075,92076,9945
Name,,,,,,,,,,,,,,,,,,,,,
#1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
#1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
#1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1.91568E+11,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1.9157E+11,1,1,1,1,1,0,1,1,0,1,...,0,0,1,0,1,0,0,0,1,1

In [8]:
# Build up the frequent items
frequent_itemsets = apriori(basket_sets, min_support=0.001, use_colnames=True)

In [13]:
frequent_itemsets.sort_values('support', ascending=True).tail()

      support itemsets
183  0.055117   [7980]
16   0.055451   [1350]
164  0.058784   [7820]
154  0.063229   [7770]
31   0.138460   [2010]

In [10]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.5)
rules

       antecedants   consequents   support  confidence       lift
0           (1250)        (1050)  0.014224    0.085937  17.984920
1           (1050)        (1250)  0.004778    0.255814  17.984920
2           (1051)        (1250)  0.005890    0.245283  17.244546
3           (1250)        (1051)  0.014224    0.101562  17.244546
4           (1051)        (1860)  0.005890    0.169811  12.128032
5           (1860)        (1051)  0.014002    0.071429  12.128032
6           (1350)        (1100)  0.055451    0.026052   3.211546
7           (1100)        (1350)  0.008112    0.178082   3.211546
8           (2010)        (1100)  0.138460    0.007223   0.890422
9           (1100)        (2010)  0.008112    0.123288   0.890422
10          (1101)        (1350)  0.012335    0.099099   1.787160
11          (1350)        (1101)  0.055451    0.022044   1.787160
12          (1101)        (2010)  0.012335    0.090090   0.650659
13          (2010)        (1101)  0.138460    0.008026   0.650659
14          (1101)        (3400)  0.012335    0.090090   2.239560
15          (3400)        (1101)  0.040227    0.027624   2.239560
16          (1101)        (7690)  0.012335    0.090090   2.824811
17          (7690)        (1101)  0.031892    0.034843   2.824811
18          (1101)        (7770)  0.012335    0.081081   1.282335
19          (7770)        (1101)  0.063229    0.015817   1.282335
20          (1101)        (7780)  0.012335    0.090090   2.173514
21          (7780)        (1101)  0.041449    0.026810   2.173514
22          (1101)        (7820)  0.012335    0.081081   1.379298
23          (7820)        (1101)  0.058784    0.017013   1.379298
24          (1150)        (1350)  0.015446    0.237410   4.281469
25          (1350)        (1150)  0.055451    0.066132   4.281469
26          (1150)        (1560)  0.015446    0.071942   4.831418
27          (1560)        (1150)  0.014891    0.074627   4.831418
28          (1150)        (2010)  0.015446    0.151079   1.091141
29          (2010)        (1150)  0.138460    0.016854   1.091141
...            ...           ...       ...         ...        ...
1118  (7980, 7780)        (7820)  0.003445    0.290323   4.938777
1119  (7980, 7820)        (7780)  0.006223    0.160714   3.877394
1120  (7780, 7820)        (7980)  0.006556    0.152542   2.767598
1121        (7980)  (7780, 7820)  0.055117    0.018145   2.767598
1122        (7780)  (7980, 7820)  0.041449    0.024129   3.877394
1123        (7820)  (7980, 7780)  0.058784    0.017013   4.938777
1124  (7980, 7960)        (7800)  0.004112    0.243243  10.228719
1125  (7980, 7800)        (7960)  0.002445    0.409091  18.782699
1126  (7800, 7960)        (7980)  0.001778    0.562500  10.205519
1127        (7980)  (7800, 7960)  0.055117    0.018145  10.205519
1128        (7960)  (7980, 7800)  0.021780    0.045918  18.782699
1129        (7800)  (7980, 7960)  0.023780    0.042056  10.228719
1130  (7830, 7980)        (7960)  0.002889    0.423077  19.424843
1131  (7830, 7960)        (7980)  0.001778    0.687500  12.473412
1132  (7980, 7960)        (7830)  0.004112    0.297297   8.413140
1133        (7830)  (7980, 7960)  0.035337    0.034591   8.413140
1134        (7980)  (7830, 7960)  0.055117    0.022177  12.473412
1135        (7960)  (7830, 7980)  0.021780    0.056122  19.424843
1136  (7860, 7980)        (7870)  0.005556    0.220000  12.690897
1137  (7860, 7870)        (7980)  0.002111    0.578947  10.503926
1138  (7980, 7870)        (7860)  0.003223    0.379310  14.342075
1139        (7860)  (7980, 7870)  0.026447    0.046218  14.342075
1140        (7980)  (7860, 7870)  0.055117    0.022177  10.503926
1141        (7870)  (7860, 7980)  0.017335    0.070513  12.690897
1142  (7860, 7980)        (7960)  0.005556    0.200000   9.182653
1143  (7860, 7960)        (7980)  0.001778    0.625000  11.339466
1144  (7980, 7960)        (7860)  0.004112    0.270270  10.219169
1145        (7860)  (7980, 7960)  0.026447    0.042017  10.219169
1146        (7980)  (7860, 7960)  0.055117    0.020161  11.339466
1147        (7960)  (7860, 7980)  0.021780    0.051020   9.182653

[1148 rows x 5 columns]

In [16]:
writer = pd.ExcelWriter("Association Analysis Result.xlsx", engine='xlsxwriter')
rules.to_excel(writer, sheet_name="Sheet1")
writer.save()